:root{
    --default-font-size: 10vw;
    --min-font-size: 75px;
}

@font-face{
    font-family: time-font;
    src:url(time.ttf)
}

body{
    margin: 0px;
    font-family: time-font;
    font-size: 100px
}

#wrap{
    position: relative;
    overflow: hidden;
}

section{
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#indicator{
    position: absolute;
    top: 0px;
    left: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#indicator > div{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.live{
    background-image: radial-gradient(#00002f,#000000);
    color: white;
    height: 100%;
}

.live-date{
    text-align: center;
    font-size: 175px;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    z-index: 2;
    font-size: clamp(var(--min-font-size),var(--default-font-size),var(--default-font-size));
}

.live-time{
    text-align: center;
    color: white;
    font-size: 175px;
    position: absolute;
    top: 50vh;
    z-index: 10;
    width: 100vw;
    translate: 0px;
    font-size: clamp(var(--min-font-size),var(--default-font-size),var(--default-font-size));
}

.active{
    width: 20px !important;
    height: 20px !important;
    border-radius: 10px !important;
    margin: 5px !important;
}

.fader{
    position: absolute;
    top: 95vh;
    width: 110vw;
    height: 150px;
    background-color: black;
    filter: blur(50px);
    z-index: 1;
}

.fader-2{
    position: absolute;
    top: 190vh;
    width: 110vw;
    height: 200px;
    background-color: black;
    filter: blur(70px);
    z-index: 2;
}

.fader-3{
    position: absolute;
    top: 290vh;
    width: 110vw;
    height: 200px;
    background-color: black;
    filter: blur(70px);
    z-index: 2;
}

.double-grid{
    grid-column: span 2;
}

.hide{
    display: none !important;
}

.stopwatch-section{
    color: white;
    background-image: radial-gradient(black, rgba(0,0,20,1));
    height: 100%;
    background-size: 100vw 100vh;
}